<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <h2>Enrollment & Payments App</h2>

    <nav>
        <a href="/edit-profile"><button>Edit Profile</button></a>

        <a href="/enrollment/addNewUser"><button>Add New User</button></a>

        <a href="/enrollment/addNewPayment"><button>Add New Payment</button></a>

        <a href="/enrollment/addNewWaitlist"><button>Add New Waitlist Entry</button></a>

        <a href="/logoff"><button>Log Off</button></a>
    </nav>
</body>
</html>